@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  /* background: #ccc; */
}

.form {
  z-index: 1;
  font-family: "Poppins", sans-serif;
  position: absolute;
  width: 320px;
  text-align: center;
}

.form i {
  z-index: 1;
  color: #ccc;
  font-size: 65px;
  margin-bottom: 30px;
}

.form .signup-form {
  display: none;
}

.form .user-input {
  width: 320px;
  height: 55px;
  margin-bottom: 30px;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  transition: 0.5s;
  transition-property: border-left, border-right, box-shadow;
}

.form .user-input:hover,
.form .user-input:focus,
.form .user-input:active {
  border-left: solid 8px #4285f4;
  border-right: solid 8px #4285f4;
  box-shadow: 0 0 100px rgba(66, 133, 244, 0.8);
}

.form .options-01 {
  margin-bottom: 50px;
}

.form .options-01 input {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.form .options-01 .remember-me {
  color: #bbb;
  font-size: 14px;
  display: flex;
  align-items: center;
  float: left;
  cursor: pointer;
}

.form .options-01 a {
  color: #888;
  font-size: 14px;
  font-style: italic;
  float: right;
}

.form .btn {
  outline: none;
  border: none;
  width: 320px;
  height: 55px;
  margin-top: 5px;
  margin-left: 3px;
  background: #4285f4;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  transition-property: border-left, border-right, box-shadow;
}

.form .btn:hover {
  border-left: solid 8px rgba(255, 255, 255, 0.5);
  border-right: solid 8px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 100px rgba(66, 133, 244, 0.8);
}

.form .options-02 {
  color: #bbb;
  font-size: 14px;
  margin-top: 30px;
}

.form .options-02 a {
  color: #4285f4;
}
.form .error {
  margin-bottom: 10px;
  color: rgb(245, 63, 63);
}
.form .success {
  /* border: 1px solid red; */
  margin-bottom: 10px;
  color: green;
}
/* forget_password start here */
body .wrapper {
  /* background-color: rgb(114, 32, 32); */
  display: flex;
  flex-direction: column;
}
.email_form {
  color: rgb(85, 197, 141);
  font-size: large;
  font-family: "Times New Roman", Times, serif;
}
.email_form label {
  margin: 42px 0px;
  position: relative;
  top: 7px;
  left: 0px;
}

.email_form .form_input {
  width: 350px;
  height: 35px;
  background-color: lightcyan;
  border: none;
  border-radius: 5px;
  outline: none;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-left: 15px;
}
.email_form .form_input:focus {
  box-shadow: 2px 2px 20px lightcoral;
}
.email_form .form_input::placeholder {
  font-size: small;
  color: rgb(32, 122, 212);
  letter-spacing: 3px;
}
.email_btn .form_btn {
  width: 300px;
  height: 40px;
  margin: 4px 25px;
  background-color: limegreen;
  border: none;
  border-radius: 5px;
  /* color: #222; */
  color: #fff;
  outline-color: #4285f4;
}
.email_btn .form_btn:hover {
  box-shadow: 2px 2px 10px grey;
  background-color: mediumspringgreen;
  color: #111;
  cursor: pointer;
}
.error {
  margin: 5px 0px;
  /* border: 1px solid red; */
  width: 350px;
  height: auto;
  color: rgb(231, 106, 106);
  overflow: hidden;
  overflow-wrap: break-word;
}
.success {
  margin: 5px 0px;
  /* border: 1px solid red; */
  width: 350px;
  height: auto;
  color: rgb(98, 170, 39);
  overflow: hidden;
  overflow-wrap: break-word;
}
#mail_form {
  /* display: none; */
  transition: all 0.5s linear;
}
#otp_form {
  display: none;
  transition: all 0.5s linear;
}
/* forget_password ends here */

/* Responsive CSS */

@media screen and (max-width: 500px) {
  .form {
    width: 95%;
  }

  .form .user-input {
    width: 100%;
  }

  .form .btn {
    width: 100%;
  }
}
